<h3><%= @time_hiragana%></h3>
<h1><%= @time%></h1>
<br/>
<h3><%= @year_hiragana %><%= @day_hiragana %><%= @month_hiragana %></h3>
<h2><%= @year %><%= @day %><%= @month %></h2>
<!-- <h4><%= @year_romaji %> 。<%= @day_romaji %> 。<%= @month_romaji %></h4> -->

